
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    div.container{
      border: 5px solid #20ec0e;
      width: 80%;
      margin: 0 auto 0 auto;
    }
    .hero img{
      width: 100%;
    }
    div.left, div.middle, div.right{
      border: 3px dotted red;
      width: 30%;
    }
   aside img{
    width: 100%;
   }
   aside{
    display: flex;
    justify-content: space-between;
   }
    
    nav{
      background-color: blueviolet;
     
    }
    ul{
      text-align: center;

    }
    li{
      display: inline-block;
      width: 200px;
      border: 2px solid white;
      line-height: 2em;
      font-family: Arial, Helvetica, sans-serif;
      font-variant: small-caps;

    }
    a{
      color: yellow;
      text-decoration: none;
      border: 1px solid red;
      display: block;

    }
  </style>